<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WavemeterSharingApp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WavemeterSharingApp.Settings1>
            <setting name="Connection" serializeAs="String">
                <value>Local Area Connection</value>
            </setting>
            <setting name="Channel1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Channel2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Channel3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Channel4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Channel5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Channel6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Channel7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Channel8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RefreshRateFreq" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PattCh1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PattCh2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PattCh3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PattCh4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PattCh5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PattCh6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PattCh7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PattCh8" serializeAs="String">
                <value>False</value>
            </setting>
        </WavemeterSharingApp.Settings1>
    </userSettings>
</configuration>