<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="RefreshRate" value="10000"/>
    <add key="InterfaceName" value="Local Area Connection"/>
    <add key="Key2" value="2"/>
  </appSettings>
</configuration>
